<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Profile</title>
</head>
<body>
    <!-- setup for dynamic data -->
    <!-- <h1>Route to: <%=  %></h1> -->
    

    <!-- for backend excersize example -->
    <!-- <% for( let i = 0; i < data.length; i++) { %>
        <h1> <%= data[i].title %> </h1>
        <h2> Plot </h2>
        <p> <%= data[i].plot %> </p>
        <h2> Description </h2>
        <p> <%= data[i].description %> </p>

    <% } %> -->

    <%- include('tail') %>

</body>
</html>