  
<%- include('head') %>

<body>
    <%- include ('head') %>

<h1>Movies</h1>
<% for (var index = 0; index < data.length; index++) { %>
    <h2> <%= data[index].name %> </h2>   
    <p> <%= data[index].name %> </p>
    <p> <%= data[index].age %> </p>
<%} %>


<%- include('footer') %>

<%- include('tail') %>

</body>

</html>